<form method="POST" action="">
    <h3>Location Details</h3>
    {{location_form}}

<h3>
</h3>
    <input  type="submit" value="Save"  >

</form>

<form action="/" method="get">
    <input type="submit" value="Get list of Agents"
         name="Submit" />
</form>