<form method="POST" action="">
    <h3>Basic Details </h3>
    {{form}}
    <h3>Address</h3>
    {{form2}}
    <h3>Media</h3>
    {{form3}}
<h3>
</h3>
    <input  type="submit" value="Save"  >

</form>


<h2>


</h2>
<form action="/" method="get">
    <input type="submit" value="Get back to list of Agents"
         name="Submit" />
</form>