<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Agents List</h2>
{% block content %}

<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Company name</th>
      <th>location name</th>
  </tr>
    {% for user in object_list %}
    <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.company_name }}</td>
        <td>{{user.location.name}}</td>
    </tr>
 {% empty %}

    {% endfor %}
</table>
<h2>


</h2>
<form action="/create_agent/" method="get">
    <input type="submit" value="Create New Agent"
         name="Submit" id="frm1_submit" />
</form>
<h3>

</h3>
<form action="/create_location/" method="get">
    <input type="submit" value="Create New Location"
         name="Submit" id="frm2_submit" />
</form>

{% endblock %}